<div class="container_footer">
    <div class="container-footer">
        <a id="logo" routerLink="">
            <img src="./../assets/images/logo1.png">
        </a>
        <div class="lista_elementos">
            <div>
                <span>Company</span>
                <ul style="list-style: none;">
                    <li><a routerLink="EstamosTrabajando">Documentación</a></li>
                    <li><a routerLink="EstamosTrabajando">Tutorial</a></li>
                    <li><a routerLink="EstamosTrabajando">Contacto</a></li>
                </ul>
            </div>
            <div>
                <span>Support</span>
                <ul style="list-style: none;">
                    <li><a routerLink="EstamosTrabajando">About</a></li>
                    <li><a routerLink="EstamosTrabajando">Blog</a></li>
                    <li><a routerLink="EstamosTrabajando">Partners</a></li>
                    <li><a routerLink="EstamosTrabajando">Centro de Ayuda</a></li>
                </ul>
            </div>
        </div>
        
    </div>
</div>
