<div class="central">
    <div class="banner">
        <p><strong>¡Hola!</strong>¿En qué podemos ayudarte?</p>
        <ul>
            
            <li><a href="#planes_id">
                Planes
                </a>
            </li>
            <li><a href="#blackcard_id">
                BlackCard
                </a>
            </li>
            <li><a href="#tarjetas_id">
                Tarjetas
                </a>
            </li>
            <li><a routerLink="/EstamosTrabajando">
                Beneficios
                </a>
            </li>
            <li><a routerLink="/EstamosTrabajando">
                Nosotros
                </a>
            </li>
            <li><a href="#footer">
                Centro de ayuda
                </a>
            </li>
        </ul>
    </div>
    <div class="hero">
        <img src="../../../assets/images/hero.jpg" alt="heroluminabank">
        <p>Explora el mundo con LuminaBank</p>
    </div>
    <!-- <div>
        <img src="" alt="">
        <div>
            <p>La cuenta bancaria gratuita para tu día a día</p>
            <p>Di adiós al papeleo, a las comisiones y a la letra pequeña con LuminaBank. Disfruta de una cuenta 
                bancaria online totalmente gratis que se adapta a tu estilo de vida, con  Atención al Cliente los 7 días de la semana, y mucho más.</p>
        </div>
    </div> -->
    <div class="elige_plan" id="planes_id">
        <h2>Elige tu plan</h2>
        <div class="cards">
        <div class="card">
            <h3>Caja de Ahorros</h3>
            <span>Gratis</span> 
            <p>Ya sea para enviar dinero cuando estés en el extranjero o ajustarte a tu presupuesto con la ayuda de nuestras herramientas, saca más partido a tu dinero con Estándar.</p>   
        </div>
        <div class="card">
            <h3>Cuenta Sueldo</h3>
            <span>Gratis</span> 
            <p>Ya sea para enviar dinero cuando estés en el extranjero o ajustarte a tu presupuesto con la ayuda de nuestras herramientas, saca más partido a tu dinero con Estándar.</p>
        </div>
        <div class="card">
            <h3>Cuenta Corriente</h3>
            <span>Gratis</span> 
            <p>Ya sea para enviar dinero cuando estés en el extranjero o ajustarte a tu presupuesto con la ayuda de nuestras herramientas, saca más partido a tu dinero con Estándar.</p> 
        </div>
        </div>
    </div>
    
    
        <div class="blackcard" id="blackcard_id">
            <div class="blackcard_parrafo">
                <p><strong>TARJETA DE CRÉDITO LUMINA BLACK </strong><br>
                    Experimentá los momentos más memorables de la vida. En cualquier momento y lugar del mundo.
                </p>
            </div>
            <img src="../../../assets/blackcard.png" alt="">
        </div>
    
    <div class="elige_tarjeta" id="tarjetas_id">
        <div>
            <strong>¿TE CUESTA ELEGIR UNA TARJETA?</strong>
        <p>Pide la que más te represente.Se aplican comisiones.</p>
        </div>
        
    </div>
 
</div>

