<div class="container">
    <section class="secc-tipoCuenta">
        <div class="title">
            <h3>Cuentas</h3>
        </div>

        <div class="select-cuenta">
            <select name="" id="" formControlName="accountNumber">
                <option *ngFor="let cuenta of listaCuentas" [value]="cuenta">{{ cuenta.accountNumber }} - Saldo: $ {{ cuenta.balance }}</option>
            </select>
        </div>
        <div class="select-operacion">
            <select>
                <option value="Default">Consultas y operaciones</option>
                <option value="">Transferencias</option>
                <option value="">Retiro de efectivo</option>
            </select>
        </div>

    </section>

    <button  class="btn" routerLink="/transaccion" routerLinkActive="activebutton">Nueva Trassaccion </button>
   
    <section class="secc-cuentaDatos" >
        <div class="total">
            <h4>Saldo Total en $</h4>
            <span>totalpesos</span>
        </div>
        <div class="sueldo">
            <h4>caja de Ahorro</h4>
        </div>
        <div class="corriente">
            <h4>Cuenta Corriente en $</h4>
            <span>cuentacorriente</span>
        </div>
        <div class="aliasD">
            <a href="#">Consultar Alias y datos de la cuenta</a>
        </div>
    </section>
    <section class="secc-tablaResumen">
        <table class="table-resumen">
            <thead>
                <tr>
                    <td>Fecha</td>
                    <td>Descripcion</td>
                    <td>Cuenta Sueldo</td>
                    <td>Cuenta Corriente</td>
                    <td>Saldo Total</td>
                </tr>
            </thead>
            <tbody >
                <tr>
                    <td>fecha</td>
                    <td>descripcion</td>
                    <td>$ cuentasueldo</td>
                    <td>ctaahorro</td>
                    <td>$ totalmensual</td>
                </tr>
            </tbody>
        </table>
    </section>
</div>