<div class="header">
    <ul class="menu">
        <li>
            <i class="fa-solid fa-bars menulogo"></i>
        </li>
        <li class="links">
            <div class="contenedorlogo">
            <img src="../../assets/images/logo1.png" class="image" alt="" routerLink="" routerLinkActive="activebutton" />
        </div>
        </li>
        <li class="links">
            
            <a routerLink="/login" routerLinkActive="activebutton" ><button class="btn solid">Personas</button></a>
            <a routerLink="" routerLinkActive="activebutton" ><button class="btn solid">Empresas</button></a>
        </li>
        
       
    </ul>
</div>