

.header {
    width: 100%;
    background: linear-gradient(to bottom, #292828, #fff);
   


}



.btn {
    width: 100px;
    height:25px;
    border: none;
    outline: none;
    border-radius: 20px;
    background-color: #462592; 
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s; 
    margin: 0.3rem;
    
}

.btn:hover  {
    background-color: #8259e2;
}

img {
    width: 25%;
    filter: drop-shadow(4px 6px 10px #141414
    );
}

.menulogo {
    padding: 1rem;
    font-size: 1.5rem;
    color: #462592;
    
}

.menu {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.contenedorlogo {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.links {
    margin-right: 1rem;
}

.links img {
    align-items: center;
}