<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla</title>
</head>
<style>
    .template{
        background-color: #0D1016;
        color: white;
    }
    .logo {
        width: 25rem;
        height: 200px;
        float: left;
        position: relative;

    }
    .content{
        height: 25rem;
    }
</style>
<body >
    <div class="template">
        <img src="../images/logo1.png" alt="logo" class="logo">
        
        <div class="content">
            
            <b>Cambio de contraseña</b>
            <p>Estimado cliente,<br>
            Le informamos que para se ha enviado este correo para cambio de su contraseña, porfavor ingrese al siguiente link, para poder continuar con su cambio de contraseña.
            <br>
            Recuerde que si no ha solicitado un cambio  de contraseña, ignore este correo electrónico.<br><br>
            Atentamente.<br>
            Lumina Bank
            
        </p>
        </div>
        
    </div>
</body>
</html>