.welcome-message {
    max-height: 70%;
    top: 50%;
    left: 50%;
    margin: auto;
  }

  .btn {
    width: 150px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 49px;
    background-color: #462592; 
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    transition: .5s; 
}
.btn:hover  {
    background-color: #8259e2;
}
